@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Inspiration&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "lato" sans-serif;
}

body {
  background-color: lightgrey;
}

.page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

.page-container .slider-img {
  width: 400px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.page-container .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 430px;
  padding: 20px;
  height: auto;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.page-container .slider-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 1300px;
  overflow: hidden;
}

.page-container .slider-button {
  width: auto;
}

.page-container .left,
.page-container .right {
  position: absolute;
  font-size: 45px;
  top: 45%;
  font-size: 25px;
  z-index: 30;
  padding: 4px;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
  border: none;
  border-radius: 5px;
  background: #2997b3;
  -webkit-box-shadow: 0 35px 68px 0 rgba(100, 144, 240, 0.42), inset 0 -8px 50px 0 #2997b3;
          box-shadow: 0 35px 68px 0 rgba(100, 144, 240, 0.42), inset 0 -8px 50px 0 #2997b3;
}

.page-container .left {
  left: 0;
  margin-left: 2rem;
}

.page-container .right {
  margin-right: 2rem;
  right: 0;
}

.page-container .left:hover {
  background-color: #000;
  color: #fff;
}

.page-container .right:hover {
  background-color: #000;
  color: #fff;
}

.page-container .name-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0.5rem 0;
}

.page-container h3 {
  color: #df0b0b;
}

.page-container h4 {
  font-size: 1.5rem;
}

.page-container p {
  margin-left: 1rem;
}
/*# sourceMappingURL=styles.css.map */