@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Inspiration&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "lato" sans-serif;
}
body {
  background-color: lightgrey;
}
.page-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;

  .slider-img {
    width: 400px;
    height: 500px;
    object-fit: cover;
  }
  .slider {
    display: flex;
    flex-direction: column;
    width: 430px;
    padding: 20px;
    height: auto;
    transition: 0.8s;
    // padding: 30px;
  }
  .slider-container {
    position: relative;
    display: flex;
    box-sizing: content-box;
    width: 1300px;
    overflow: hidden;
  }
  .slider-button {
    width: auto;
  }

  .left,
  .right {
    position: absolute;
    font-size: 45px;
    top: 45%;
    font-size: 25px;
    z-index: 30;
    padding: 4px;
    cursor: pointer;
    transition: 1s;
    border: none;
    border-radius: 5px;
    background: #2997b3;
    box-shadow: 0 35px 68px 0 rgba(100, 144, 240, 0.42),
      inset 0 -8px 50px 0 #2997b3;
  }
  .left {
    left: 0;
    margin-left: 2rem;
  }
  .right {
    margin-right: 2rem;
    right: 0;
  }
  .left:hover {
    background-color: #000;
    color: #fff;
  }
  .right:hover {
    background-color: #000;
    color: #fff;
  }
  .name-price {
    display: flex;
    justify-content: space-around;
    margin: 0.5rem 0;
  }
  h3 {
    color: #df0b0b;
  }
  h4 {
    font-size: 1.5rem;
  }
  p {
    margin-left: 1rem;
  }
}
